.about {
  margin: 4rem auto 0;
  max-width: 550px;
  h2 {
    font-size: 3rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    font-family: 'Rubik', sans-serif;
  }

  p {
    font-family: 'Rubik', sans-serif;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
  }
}