.about {
  margin: 6rem auto 8rem;
  max-width: 550px;
  h2 {
    margin-bottom: 1rem;
    padding: 0 1rem;
    font-family: "Rubik", sans-serif;
    font-size: 3rem;
    font-weight: normal;
  }
  p {
    margin-bottom: 0.5rem;
    padding: 0 1rem;
    font-family: "Rubik", sans-serif;
  }
  @include device(medium) {
    margin: 5rem auto 5rem;
  }
  @include device(small) {
    margin: 3rem auto 3rem;
  }
}
