.footer {
  p {
    padding: 5rem 0;
    color: #fff;
    background: linear-gradient(90deg, rgb(15, 18, 34) 0%, rgb(16, 33, 49) 100%);
    text-align: center;
    font-family: "Rubik", sans-serif;
  }
}