$color-blue: #021731;
$color-gray: #6c6b7b;
$color-gray-bg: rgb(179, 176, 176);
$color-yellow: rgb(254, 255, 247);
$color-sand: rgb(211, 196, 196);
$color-error: rgb(247, 0, 0);
$color-success: rgb(0, 146, 0);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

