$color-blue: #182e47;
$color-gray: #949494;
$color-gray-bg: #b3b0b0;
$color-yellow: #fefff7;
$color-sand: #d3c4c4;
$color-error: #f70000;
$color-success: #009200;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
