.header {
  width: 100%;
  background: $color-blue;
  position: fixed;
  z-index: 5;
}

.header.headerTransform {
  background: rgba(10, 10, 10, 0.95);
  transition: 400ms;
}

.logo {
  padding: 1rem;
  width: 130px;
  @include device(medium) {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  @include device(medium) {
    display: none;
  }

  li a {
    padding: 0.5rem 1rem;
    color: $color-gray;
    font-family: "Rubik", sans-serif;
    display: block;
    text-decoration: none;
    &:hover {
      color: #fff;
      transition: 1s;
      cursor: pointer;
    }
  }
}

.navList.active {
  padding-top: 12rem;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: block;
  position: absolute;
  top: 0;
  text-align: center;
  li a {
    color: #fff;
    font-size: 1.5rem;
    &:hover {
      color: $color-gray;
    }
  }
}

.githubIcon {
  padding: 1.3rem;
  display: flex;
  align-items: center;
  a {
    display: flex;
  }
}

.hamburguerButtonContainer {
  padding: 1rem;
  background: none;
  border: none;
  display: none;
  cursor: pointer;
  @include device(medium) {
    display: block;
  }
}

.hamburguerButton {
  width: 30px;
  height: 4px;
  background: $color-gray;
  box-shadow: 0 -10px 0 0 $color-gray, 0 10px 0 0 $color-gray;
}

.xButton {
  background: none;
  border: none;
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
  cursor: pointer;
  img {
    width: 1.5rem;
  }
}

.xButton.active {
  display: block;
}
