.header {
  position: fixed;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(15, 18, 34) 0%,
    rgb(16, 33, 49) 100%,
  );
}

.header.headerTransform {
  background: rgba(10, 10 ,10, 0.95);
  transition: 400ms;
}

.logo {
  padding: 1rem;
  width: 130px;
  @include device(mobile) {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  @include device(mobile) {
    display: none;
  }

  li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #6c6b7b;
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}

.navList.active {
  display: block;
  padding-top: 12rem;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  li a {
    color: #fff;
    &:hover {
      color: #6c6b7b;
    }
  }
}

.githubIcon {
  padding: 1.3rem;
  display: flex;
  align-items: center;
  a {
    display: flex;
  }
}

.hamburguerButtonContainer {
  padding: 1rem;
  background: none;
  border: none;
  display: none;
  cursor: pointer;
  @include device(mobile) {
    display: block;
  }
}

.hamburguerButton {
  width: 30px;
  height: 4px;
  background: #6c6b7b;
  box-shadow: 0 -10px 0 0 #6c6b7b, 0 10px 0 0 #6c6b7b;
}

.xButton {
  background: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  z-index: 5;
  cursor: pointer;
  img {
    width: 2rem;
  }
}

.xButton.active {
  display: block;
}