.main {
  min-height: 480px;
  background: $color-blue;
}

.mainContainer {
  margin: 0 auto;
  padding: 10rem 1rem 0;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  @include device(small) {
    padding: 6rem 1rem 0;
  }
}

.mainText {
  padding: 0 1rem;
  color: #fff;
  flex: 1 0 300px;
  h1 {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
    @include device(medium) {
      font-size: 2.5rem;
    }
  }
  h2 {
    margin-bottom: 2rem;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    @include device(medium) {
      margin-bottom: 1.2rem;
      font-size: 1rem;
    }
  }
  p {
    font-family: "Nunito", sans-serif;
    display: block;
    font-weight: 400;
    &:last-child {
      margin-bottom: 1.5rem;
    }
  }
}

.mainPhoto {
  color: #fff;
  flex: 1 0 300px;
}
