.main {
  min-height: 550px;
  background: linear-gradient(90deg, rgb(15, 18, 34) 0%, rgb(16, 33, 49) 100%);
}

.mainContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10rem 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  @include device(mobile) {
    padding: 6rem 1rem 0;
  }
}

.mainText {
  flex: 1 0 300px;
  padding: 0 1rem;
  color: #fff;
  h1 {
    font-family: "Nunito", sans-serif;
    font-size: 3rem;
    @include device(mid) {
      font-size: 2.5rem;
    }
  }
  h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    @include device(mid) {
      font-size: 1rem;
      margin-bottom: 1.2rem;
    }
  }
  p {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    display: block;
    &:last-child {
      margin-bottom: 1.5rem;
    }
  }
}

.mainPhoto {
  flex: 1 0 300px;
  color: #fff;
}
