.projects {
  margin: 8rem auto 8rem;
  @include device(medium) {
    margin: 5rem auto 5rem;
  }
  @include device(small) {
    margin: 3rem auto 3rem;
  }
}

.projectsContainer {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1500px;
  h2 {
    margin: 1rem 0 3rem;
    font-family: "Rubik", sans-serif;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    @include device(medium) {
      margin: 1rem 0 2rem;
    }
    @include device(small) {
      margin: 1rem 0 1rem;
    }
  }
}

.projectsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 1.7rem;
  text-align: center;
}

.card {
  padding: 1rem;
  max-width: 350px;
  background: $color-yellow;
  flex: 1 0 250px;
  border-radius: 1rem;
  transition: 400ms;
  box-shadow: 1px 1px 4px 0 #000;
  h3 {
    margin-bottom: 0.25rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
  }
  p {
    margin-bottom: 1rem;
    font-family: "Rubik", sans-serif;
  }
  a {
    margin-bottom: 1.5rem;
    padding: 0.25rem;
    background: #000;
    color: #fff;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    border-radius: 0.25rem;
    text-decoration: none;
  }
  &:hover {
    background: black;
    color: #fff;
    transform: scale(1.1);
    box-shadow: none;
    a {
      background: #fff;
      color: #000;
    }
  }
}

.projectsImg {
  border-radius: 12px;
  box-shadow: 0 0 2px 1px #000;
  img {
    border-radius: 12px;
  }
}

.projectsLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
