.stack {
  margin: 0 auto;
  padding: 0 1rem 0;
  min-height: 400px;
  background: rgb(179, 176, 176);
  display: flex;
  overflow: hidden;
  @include device(mid) {
    min-height: 300px;
  }
}

.slideContainer {
  display: flex;
  gap: 8rem;
  @include device(mid) {
    gap: 3rem;
  }
}

.stackContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 8rem;
  @include device(mid) {
    gap: 0 3rem;
  }
  @include device(mobile) {
    flex-wrap: wrap;
    &:last-child {
      display: none;
    }
  }
  div {
    width: 120px;
    @include device(mid) {
      width: 100px;
    }
    @include device(mobile) {
      width: 80px;
    }
  }
}